/* 

---------- TYPOGRAPHY ----------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
0 / -2px

FONT FAMILY
Bangers
Montserrat

---------- COLORS ----------

PRIMARY
Base: #BC77EE (Deep Mauve)
Tint: #hsl(275, 78%, 88%) (Light Lavender)
Shade: #471866 (Dawn Lavender)

SECONDARY
Base: #0F172A (Dark Slate)
Tint: #1E293B (Prime blue)


TERTIARY
Green: hsl(130, 84%, 54%) (Comic Green)
Red: hsl(0, 84%, 64%) (Poppy Red)
Amethyst: rgba(188, 119, 238, 0.2)

GREY
White: #F8FAFC (Off-White)
Black: #000000 (Black)

---------- BORDER RADIUS ----------

4px / 8px / 20px

---------- SPACING SYSTEM ----------
5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 300px / 400px / 500px

*/

/* -------------------- GLOBAL STYLES -------------------- */

:root{
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3: 4rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;

    /* FONT WEIGHT */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* LINE HEIGHT */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /* LETTER SPACING */
    --letter-spacing-tight: -2px;

    /* FONT FAMILY */
    --title-font-family: "Bangers", system-ui;
    --body-font-family: "Montserrat", sans-serif;

    /* COLOUR */
    
    --primary-base: #bc77ee;
    --primary-tint: hsl(275, 78%, 88%);
    --primary-shade: #471866;

    --secondary-base: #0F172A;
    --secondary-tint: #1E293B;

    --green: hsl(130, 84%, 54%);
    --red: hsl(0, 84%, 64%);
    --amethyst: rgba(188, 119, 238, 0.2);

    --white: #F8FAFC;
    --black: #000000;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62%;
}

body{
    font-family: var(--body-font-family);
    font-weight: bold;
    line-height: var(--line-height-normal);
    background-color: var(--secondary-base);
    color: var(--white);
}

.main-container{
    max-width: 1200px;
    width: 90%;
    margin: 3rem auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: var(--secondary-tint);
    position: relative;
    box-shadow: 0 0 20px rgba(188, 119, 238, 0.2);
    border-radius: 1rem;
}

#game-title{
    margin-top: 1rem;
    font-family: var(--title-font-family);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-tight);
    text-decoration: underline wavy;
    text-align: center;
    font-size: var(--text-h1);
    letter-spacing: var(--letter-spacing-tight);
    
}

h1{
    font-size: var(--text-h1);
    font-weight: var(--font-weight-bold);
}

h4{
    font-size: var(--text-base);
}

p{
    font-size: var(--text-base);
}

#choices{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.choices-button{
    margin-top: 2rem;
    font-size: 7.5rem;
    width: 110px;
    border-radius: 5px;
    background-color: var(--primary-base);
    border: 2px solid var(--primary-base);
    cursor: pointer;
    transition: 0.5s ease;
}

#refresh_button{
    display: flex;
    justify-content: center;
    background-color: #1E293B;
    color: var(--primary-base);
    border: 1px solid var(--primary-base);
    width: 4rem;
    padding: 0.8rem;
    border-radius: 3rem;
    margin: 1rem;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    right: 1rem;
    bottom: 2rem;
   
}

.refresh_icon{
    width: 2rem;
    transition: transform 0.5s ease;
}

/* -------------------- COMPONENTS -------------------- */
#refresh_button:hover{
    background-color: var(--primary-base);
    color: white;
    transform: scale(1.05, 1.05);
}

#refresh_button:active{
    background-color: var(--primary-shade);
}
#refresh_button:active .refresh_icon{
  transform: rotate(360deg);
}



.choices-button:hover{
    background-color: var(--primary-tint);
    transform: scale(1.05, 1.05);
    border-color: var(--primary-tint);
}

.choices-button:active{
    background-color: var(--primary-shade);
}



.greenText, #playerScore{
    color: var(--green);
}

.redText, #computerScore{
    color: var(--red);
}


/* -------------------- SECTION -------------------- */


 #scoreDisplay{
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 1rem;
    position: absolute;
    z-index: 2;
    left: 3rem;
    top: 1rem;
    margin-top: 2rem;
    border: 2px solid ;
    border-radius: 8px;
    padding: 0.7rem;
    box-shadow: 0 0 20px var(--amethyst);
    font-size: var(--text-paragraph);

 }
#scoreHeading{
    grid-column: 1/3;
    text-decoration: underline;
    text-align: center;
    font-size: var(--text-paragraph);
    line-height: var(--line-height-tight);
}

#playerScore, #computerScore{
    text-align: center;
}


/* --------DISPLAY SECTION-------- */
#playerDisplay, #computerDisplay{
    font-size: 2rem;
}

#resultDisplay{
    font-size: 5rem;
    font-family: 'Bangers', cursive;
    margin: 30px 0;
}

 







