/* LG - SMALL LAPTOPS: 1024px - 1200px */
@media (max-width: 72rem){
    /* 1150px / 16px = 72rem */
    /* 72rem * 16px = 1152px */

    html{
        /* 9px / 16px = 56.25% */
        font-size: 56.25%;
    }
}

/* MD - TABLETS: 768px - 1024px */
@media (max-width: 55rem){
    /* 881px / 16px = 55.25rem */
    /* 55.25rem * 16px = 880px */

    html{
        font-size: 45%;
    }
    
}

/* SM - PHONE LANDSCAPE: 576px - 768px */
@media (max-width: 43rem) {
    /* 680px / 16px = 43rem */
    /* 43rem * 16px = 688px */

      html{
        font-size: 43.75%;
        /* 7px / 16px = 43.75% */
    }

    #scoreDisplay{
        position: static;
        margin-bottom: 2rem;
        width: 30%;

    }
}

/* XS - PHONE PORTRAIT:  < 576px */

 @media (max-width: 34rem) {
    /* 530px / 16px = 34rem */
    /* 34rem * 16px = 544px */

    html{
        font-size: 37.5%;
        /* 6px / 16px = 37.5% */
    }

    #choices{
        flex-direction: column;
    }

    #scoreDisplay{
        width: 30%;
    }

    
}